@import "../node_modules/bootstrap/scss/bootstrap";

$netflix-primary-color: rgb(229, 9, 20);
$netflix-secondary-color: rgb(193, 17, 25);
$netflix-third-color: rgb(153, 22, 29);
$error-message-color: rgb(235, 57, 66);
$focus-ring-color: $white;

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: $black;
}

#root {
  height: 100%;
}

.app-container {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/a99688ca-33c3-4099-9baa-07a2e2acb398/ca15fd28-b624-4852-8bfe-9cdd5c88475d/IN-en-20240520-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.btn-signin {
  background-color: $netflix-primary-color;
  font-size: 14px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.btn-signin:hover {
  background-color: $netflix-secondary-color;
}

.btn-signin:active {
  background-color: $netflix-third-color !important;
  color: rgba(255, 255, 255, 0.7) !important;
  border-color: $netflix-third-color !important;
}

.header-container {
  padding-right: $spacer * 2;
  padding-left: $spacer * 2;
  padding-top: $spacer * 1.5;
  padding-bottom: $spacer * 1.5;
}

.about-video {
  margin-left: 2.32rem;
  padding-bottom: 10rem;
}

.video-iframe {
  transform: scale(1.4);
}

.pt-6 {
  padding-top: $spacer * 15;
}

.mx-6 {
  margin-left: $spacer * 21;
  margin-right: $spacer * 21;
}

.browse-header {
  padding-left: 2.32rem;
  padding-right: 2.32rem;
  background-image: linear-gradient(
    to top,
    rgb(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7) 70%
  );
}

.btn-submit {
  background-color: $netflix-primary-color;
  border-color: $netflix-primary-color;
}

.btn-submit:hover {
  background-color: $netflix-secondary-color;
  border-color: $netflix-secondary-color;
}

.btn-submit:active {
  background-color: $netflix-third-color !important;
  color: rgba(255, 255, 255, 0.7) !important;
  border-color: $netflix-third-color !important;
}

.top-fixed {
  top: 148px;
}
.form-floating > label {
  color: $white !important;
}

.form-floating > label::after {
  background-color: $black !important;
}

.form-control:focus {
  border-color: $white;
}

.error-message {
  color: $error-message-color;
}

.error-icon {
  color: $error-message-color;
}

.user-profile-icon {
  color: $netflix-primary-color;
}
.list-container {
  transform: translateY(-10rem);
}

.list-container > h5 {
  padding: 0 2.32rem 0 2.32rem;
}

.list {
  padding: 0 2.32rem 0 2.32rem;
}

.list > div {
  white-space: nowrap;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.list > div::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.list > #right-arrow {
  position: absolute;
  height: 100%;
  width: 2.32rem;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: $white;
  cursor: pointer;
}

.list > #left-arrow {
  position: absolute;
  height: 100%;
  width: 2.32rem;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: $white;
  cursor: pointer;
}

.video-background {
  transform: translateY(-90px);
}

.form-container {
  padding-top: 5.75rem;
  background-color: $black;
}

.logo-sm {
  color: $netflix-primary-color;
  height: 1.5rem !important;
}

.logo {
  color: $netflix-primary-color;
  height: 1.5rem;
}

.home {
  padding-top: 7.9rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.75) 70%
  );
}

.home-title {
  font-weight: 900;
  font-size: 2rem;
}

.home-instruction {
  margin-top: 1.5rem;
}

.form-card {
  padding: 0 2rem;
  width: 100%;
}

.video-description {
  display: none;
}

@include media-breakpoint-up(sm) {
  .home {
    padding-top: 10.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.75) 70%
    );
  }
  .form-card {
    padding: 3rem 4.25rem;
    max-width: 450px;
  }
  .form-container {
    padding-top: 5.75rem;
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.5) 0%
    );
    background-color: unset;
  }
}

@include media-breakpoint-up(md) {
  .home {
    padding-top: 12.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.75) 70%
    );
  }
}

@include media-breakpoint-up(lg) {
  .logo {
    color: $netflix-primary-color;
    height: 2.5rem;
  }
  .home {
    padding-top: 17.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.75) 70%
    );
  }
  .home-title {
    font-weight: 900;
    font-size: 3rem;
  }
  .video-description {
    display: block;
    max-width: 40rem;
  }
}
